@charset "UTF-8";

main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: url(../../image/sea.jpg);
	background-repeat: no-repeat;
}

.GnG_logo img {
	width: 100px;
}

.sign_in {
	width: 400px;
	height: 330px;
	background-color: rgba(215, 227, 252, 0.5);
	border-radius: 20px;
}

.title_header {
	margin-bottom: 5px;
	margin-left: 15px;
	margin-top: 15px;
}

.title_create {
	margin-left: 15px;
	display: flex;
	gap: 6px;
}

.title_create * {
	font-size: 18px;
}

#signin_form {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#signin_form input {
	margin: 0 auto;
	width: 350px;
	height: 40px;
	border: 0;
	border-radius: 10px;
	padding-left: 8px;
}

#signin_btn {
	background-color: #abc4ff;
	border: 0;
	border-radius: 10px;
	width: 350px;
	height: 40px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	width: 350px;
}

.GnG_logo {
	position: absolute;
	top: 20px;
	left: 50px;
	width: 100px;
	height: 100px;
	background-color: #4577fa;
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 100px;
	z-index: 1;
	cursor: pointer;
}