@charset "UTF-8";

body,
html {
  height: 100%;
}

.GnG_logo {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 100px;
  height: 100px;
  background-color: #4577fa;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
  z-index: 1;
  cursor: pointer;

}


.GnG_logo img {
  width: 100px;
}


.nav-link {
  font-size: 14px;
  font-weight: bold;
}

.main {
  width: 100vw;
  height: 100vh;
  opacity: 100%;
  background-color: #e2eafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mypage_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mypage_form_input {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.mypage_form_input label {
  min-width: 150px;
  line-height: 40px;
}

.mypage_form_input input {
  min-width: 200px;
}

.mypage_form_input span {
  width: 150px;
  height: 40px;
}

#namechange_btn,
#idchange_btn,
#pwdchange_btn,
#birthchange_btn {
  background-color: #abc4ff;
  border: 0;
  border-radius: 10px;
  width: 55px;
  height: 40px;
  margin: 0 auto;
}

#signout_btn {
  display: block;
  margin: 0 auto;
  background-color: #abc4ff;
  border: 0;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-top: 100px;
}
