@charset "UTF-8";

body,
html {
  margin: 0;
  height: 100%;
  background-color: 
}

.GnG_logo {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 100px;
  height: 100px;
  background-color: #4577fa;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
  z-index: 1;
  cursor: pointer;
}

.nav-link {
  font-size: 14px;
  font-weight: bold;
}

.main {
  width: 100vw;
  height: 100vh;
  background-image: url(../image/sea.jpg);
  background-repeat: no-repeat;
  opacity: 100%;
}

.GnG_logo img {
  width: 100px;
}

#login_user_name {
	height: 29px;
	line-height: 29px;
	margin: 0;
	align-self: center;
}

#login_user_name span {
	color: #4577fa;
	font-weight: bold;
}

#board-list {
	margin-top: 50px;
}

